
<ul class="nav-list">
  {%- comment -%}
    Make sure the pages have titles we can display
  {%- endcomment -%}
  {%- assign titled_pages = include.pages
      | where_exp: "item", "item.title != nil" -%}
  {%- assign pages_list = titled_pages -%}
  {%- for structureSource in site.data.StructureFileNames.MAIN -%}
    <li class="nav-list-item active">
    <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
    <a class="nav-list-link">{{ structureSource.display_text }}</a>
    <ul class="nav-list active">
    {%- for structureFile in structureSource -%}
      {% comment %}
      Go through the list of structure files with file names specified in 
      _data/StructureFileNames.yml inside _data/structures/
      {% endcomment %}
      {%- assign structure_data = site.data.structures[structureFile] -%}
      {%- for structure in structure_data.FileSystem -%}
        {%- assign empty_tag_array = "NULL NULL2" | split: " " -%}
        {%- if structure.child_folder_reqs != nil -%}
          {%- assign empty_tag_array = structure.child_folder_reqs -%}
        {%- endif -%}
        {%- include nav_recursion.html
          structure=structure 
          pages_list=titled_pages 
          parentTags=empty_tag_array
        -%}
      {%- endfor -%}
    {%- endfor -%}
    </ul>
  {%- endfor -%}
</ul>
