{%- comment -%}
this recursion requires:
include.structure
include.goalTag
include.required_foldernames
{%- endcomment -%}
{%- assign active_string = "active" -%}

{%- assign will_iterate_children = true -%}
{%- if include.structure.no_page != true -%}
    {%- comment -%}
    \   check if this current page is active
    {%- endcomment -%}
    {%- assign potential_pages_list = site.pages | where_exp: "item", "item.tag == include.structure.tag" -%}
    {%- if potential_pages_list.size == 0 -%}
        {%- assign potential_pages_list = include.pages_list | where_exp: "item", "item.title == include.structure.tag" -%}
    {%- endif -%}
    {%- assign potential_pages_list = include.pages_list | where_exp: "item", "item.tag == include.goalTag" -%}
    {%- if include.required_foldernames.size != 0 -%}
        {%- for folder_name in include.required_foldernames -%}
            {%- assign potential_pages_list = potential_pages_list | where_exp: "item", "item.path contains folder_name" -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if include.potential_pages_list.size != 0 -%}
        {{ active_string }}
        {%- assign will_iterate_children = false -%}
    {%- endif -%}
{%- endif -%}
{%- if will_iterate_children -%}
    {%- if include.structure.children != nil -%}
        {%- assign new_child_folder_reqs = include.required_foldernames -%}
        {%- if include.structure.child_folder_reqs != nil -%}
            {%- assign folderNameString = include.required_foldernames | join: "," -%}
            {%- assign newFolderNamesString = include.structure.child_folder_reqs | join: "," -%}
            {%- assign completeString = folderNameString | append: "," | append: newFolderNamesString -%}
            {%- assign new_child_folder_reqs = completeString | split: "," -%}
        {%- endif -%}
        {%- for child_structure in include.structure.children -%}
            {%- include nav_child_tag_search.html
                structure=child_structure
                goalTag=include.goalTag
                required_foldernames=new_child_folder_reqs
            -%}
        {%- endfor -%}
    {%- endif -%}
{%- endif -%}