{%- comment -%}
this recursion requires:
include.structure
include.required_foldernames
{%- endcomment -%}
{%- assign active_string = "active" -%}

{%- assign will_iterate_children = true -%}
{%- if include.structure.no_page != true -%}
    {%- comment -%}
        check if this current page is the active page
    {%- endcomment -%}
    {%- if page.tag == include.structure.tag -%}
        {%- assign page_is_active_page = true -%}
        {%- for folder_name in include.required_foldernames -%}
            {%- unless page.path contains folder_name -%}
                {%- assign page_is_active_page = false -%}
            {%- endunless -%}
        {%- endfor -%}
        {%- if page_is_active_page -%}
            {{ active_string }}
            {%- assign will_iterate_children = false -%}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
{%- if will_iterate_children -%}
    {%- if include.structure.children != nil -%}
        {%- assign new_child_folder_reqs = include.required_foldernames -%}
        {%- if include.structure.child_folder_reqs != nil -%}
            {%- assign folderNameString = include.required_foldernames | join: "," -%}
            {%- assign newFolderNamesString = include.structure.child_folder_reqs | join: "," -%}
            {%- assign completeString = folderNameString | append: "," | append: newFolderNamesString -%}
            {%- assign new_child_folder_reqs = completeString | split: "," -%}
        {%- endif -%}
        {%- for child_structure in include.structure.children -%}
            {%- include nav_child_tag_search.html
                structure=child_structure
                required_foldernames=new_child_folder_reqs
            -%}
        {%- endfor -%}
    {%- endif -%}
{%- endif -%}