{%- comment -%}
things required:
include.structure
include.folderNames
include.pages
include.parentTags

include.mustActive (optional)
{%- endcomment -%}

{%- comment -%}
If the page itself, or any of its children are active, then this page tab should be active
{%- endcomment -%}
{%- assign TMP_TAG_OR_TITLE = page.tag | default: page.title }}
{%- assign active_value = "" -%}
{%- capture active_value -%}
    {%- include nav_child_tag_search.html
        structure=include.structure
        goalTag=TMP_TAG_OR_TITLE
        required_foldernames=include.folderNames
    -%}
{%- endcapture -%}
{%- if include.mustActive == true or include.structure.no_page == true -%}
    {%- assign active_value = "active" -%}
{%- endif -%}

<li class="nav-list-item {{ active_value }}">
    {%- comment -%}
    setup the html for this item itself first
    {%- endcomment -%}

    {%- comment -%}
    go through the cases where its not no_page first
    {%- endcomment -%}
    {%- if include.structure.no_page != true -%}
        {%- comment -%}
        Try filter via tag first. If filtering via tag doesn't work,
        filter via title
        Filter out potential pages first,
        {%- endcomment -%}
        {%- assign potential_pages_list = include.pages_list | where_exp: "item", "item.tag == include.structure.tag" -%}
        {%- if potential_pages_list.size == 0 -%}
            {%- assign potential_pages_list = include.pages_list | where_exp: "item", "item.title == include.structure.tag" -%}
        {%- endif -%}
        {%- if include.folderNames.size != 0 -%}
            {%- for folder_name in include.folderNames -%}
                {%- assign potential_pages_list = potential_pages_list | where_exp: "item", "item.path contains folder_name" -%}
            {%- endfor -%}
        {%- endif -%}
        {%- comment -%}
        Pick the current item
        {%- endcomment -%}
        {%- assign current_page = potential_pages_list[0] -%}
        {%- comment -%}
        Setup the title itself
        {%- endcomment -%}
        {%- if include.structure.children != nil -%}
            <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
        {%- endif -%}
        
        <a href="{{ current_page.url }}" class="nav-list-link {{ active_value }}">{{ include.structure.display_text | default: current_page.title }}</a>
    {%- else -%}
        {%- comment -%}
        there is no page
        {%- endcomment -%}
        {%- if include.structure.children != nil -%}
            <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
        {%- endif -%}
        <a class="nav-list-link disabled-nav">{{ include.structure.display_text }}</a>
    {%- endif -%}
    {%- comment -%}
    Continue the recursion
    {%- endcomment -%}
    {%- if include.structure.children != nil -%}

        {%- assign child_list_activeness = active_value -%}
        {%- if include.structure.no_page == true -%}
            {%- assign child_list_activeness = "active" -%}
        {%- endif -%}

        <ul class="nav-list {{ child_list_activeness }}">

        {%- assign current_tags = include.parentTags -%}
        {%- if include.structure.no_page != true -%}
            {%- assign current_tags = include.parentTags | join: "," | append: current_page.tag | append: "," | split: "," -%}
        {%- endif -%}

        {%- assign new_child_folder_reqs = include.folderNames-%}
        {%- if include.structure.child_folder_reqs != nil -%}
            {%- assign folderNameString = include.folderNames | join: "," -%}
            {%- assign newFolderNamesString = include.structure.child_folder_reqs | join: "," -%}
            {%- assign completeString = folderNameString | append: "," | append: newFolderNamesString -%}
            {%- assign new_child_folder_reqs = completeString | split: "," -%}
        {%- endif -%}
        {{ new_child_folder_reqs }}
        {%- for child_structure in include.structure.children -%}
            {{ new_child_folder_reqs }}
            {%- include nav_recursion.html 
                structure=child_structure 
                folderNames=new_child_folder_reqs
                pages_list=include.pages_list 
                parentTags=current_tags
            -%}
        {%- endfor -%}
        </ul>
    {%- endif -%}
</li>